@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@0,100;0,200;0,900;1,200&display=swap");
body {
  font-family: "Montserrat", sans-serif;
}
h1 {
  font-size: 44px;
}
h2 {
  font-size: 12px;
  font-weight: bolder;
  margin-bottom: 1px;
 
  
}
.a {
   margin-top: 1px;
}

